<ion-view title="{{'Home_Colors_Title' |translate}}">
    <ion-nav-buttons side="secondary">
        <div class="buttons">
            <button class="button button-icon ion-more" ng-click="popover.show($event)">
            </button>
        </div>
    </ion-nav-buttons>

    <ion-content has-header="true" has-tabs="true">
        <div class="list">
            <div ng-repeat="color in colors | filter:listFilter" class="item item-avatar item-button-right">
                <img ng-style="getBackgroundStyle(color.hexColor)" />
                <div ng-click="openCopyToModal(color)">
                    {{color.name}}
                    <!--
                    <span ng-show="color.isReachableByGamutA">A</span>
                    <span ng-show="color.isReachableByGamutB">B</span>
                    <span ng-show="color.isReachableByGamutC">C</span>
-->
                </div>
                <button class="button button-clear" ng-click="toggleFavorite(color)">
                    <i class="icon ion-android-star-outline" ng-show="!color.isFavorite"></i>
                    <i class="icon ion-android-star" ng-show="color.isFavorite"></i>
                </button>
            </div>
        </div>
    </ion-content>

    <script id="copyto-modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar>
                <h1 class="title">{{'Home_LightList_Detail_CopyTo' | translate}}</h1>
                <div class="copyColorModalColorPreview" ng-style="getCopyToSelectedColorStyle()"></div>
            </ion-header-bar>
            <ion-content has-footer>
                <light-selection color-supported="{{modalColor.hexColor}}" selected-lights="copySelection" refresh="true"></light-selection>
            </ion-content>
            <ion-footer-bar>
                <div class="button-bar">
                    <button class="button button-calm" ng-click="closeCopyToModal()">{{'SINGLE_Cancel' | translate}}</button>
                    <button class="button button-positive" ng-click="copyToSelection()">{{'Home_LightList_Detail_CopyTo' | translate}}</button>
                </div>
            </ion-footer-bar>
        </ion-modal-view>
    </script>


    <script id="filter-popover.html" type="text/ng-template">
        <ion-popover-view class="fit">
            <ion-content scroll="false">
                <div class="list">
                    <ion-checkbox ng-model="filter.showFavorites">Favorites</ion-checkbox>
                    <ion-checkbox ng-model="filter.a">A</ion-checkbox>
                    <ion-checkbox ng-model="filter.b">B</ion-checkbox>
                    <ion-checkbox ng-model="filter.c">C</ion-checkbox>
                </div>
            </ion-content>
        </ion-popover-view>
    </script>
</ion-view>
