<ion-view title="{{'Home_Groups_Title' |translate}}">
    <ion-content has-header="true" has-tabs="true">
        <ul class="list">

            <li class="item item-button-right">
                {{'Home_Groups_AllLights' |translate}}
                <button class="button" ng-show="atLeastOneLightOn" ng-click="changeOnOffGroup0(false)">
                    {{'SINGLE_Off' |translate}}
                </button>
                <button class="button" ng-show="!atLeastOneLightOn" ng-click="changeOnOffGroup0(true)">
                    {{'SINGLE_On' |translate}}
                </button>
            </li>

            <li ng-repeat="(groupId,group) in allGroups" class="item item-button-right">
                {{group.name}}
            </li>
        </ul>
    </ion-content>
</ion-view>
