<ion-view view-title="{{light.name}}" ng-controller="LightDetailCtrl">
    <ion-nav-bar class="bar-main">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i>
        </ion-nav-back-button>
        <ion-nav-buttons side="secondary">
            <div class="buttons">
                <button class="button button-icon ion-more" ng-click="popover.show($event)">
                </button>
            </div>
        </ion-nav-buttons>

    </ion-nav-bar>
    <ion-content>

        <div class="row">
            <div class="col col-33">
                <hue-image template="{{light.image}}" light='light'></hue-image>
            </div>
            <div class="col">

                <ul class="list">
                    <li class="item item-toggle">
                        {{'SINGLE_On' | translate}}/{{'SINGLE_Off' | translate}}
                        <label class="toggle toggle-assertive">
                            <input type="checkbox" ng-model="light.state.on" ng-change="toggleLightOnOff()">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>

                    <li class="item" ng-show="isEffectRunning()">
                        {{getEffectRunning(light.id)}}
                        <a class="button button-icon icon ion-power pull-right" ng-click="stopEffect()"></a>
                    </li>

                    <li class="item">
                        {{'SINGLE_Brightness' | translate}}: {{getBrightnessPercentage()}}
                    </li>

                    <li class="item">
                        {{'SINGLE_Saturation' | translate}}: {{getSaturationPercentage()}}
                    </li>

                </ul>
            </div>
        </div>

        <div class="row"><span class="input-label">{{'SINGLE_Brightness' | translate}}</span></div>
        <div class="row">
            <div class="col">
                <div ya-no-ui-slider="brightnessOptions" ya-no-ui-slider-events="brightnessSliderEvents"></div>
            </div>
        </div>





        <div class="row"><span class="input-label">{{'SINGLE_Saturation' | translate}}</span></div>
        <div class="row">
            <div class="col">
                <div ya-no-ui-slider="saturationOptions" ya-no-ui-slider-events="saturationSliderEvents"></div>
            </div>
        </div>


        <div class="row"><span class="input-label">{{'SINGLE_Hue' | translate}}</span></div>
        <div class="row">
            <div class="col colorGradient">
                <div ya-no-ui-slider="hueOptions" ya-no-ui-slider-events="hueSliderEvents"></div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="colorScrollContainer" style="height:50px;">
                    <color-scroll selected="selectedColor1" change="changeColorFromPicker(color)"></color-scroll>
                </div>
            </div>
        </div>

    </ion-content>

    <script id="rename-modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar>
                <h1 class="title">{{'Home_LightList_Detail_RenameLight_Title' | translate}}</h1>
            </ion-header-bar>
            <ion-content>
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">{{'Home_LightList_Detail_RenameLight_NewName' | translate}}</span>
                        <input type="text" placeholder="{{light.name}}" ng-model="newLightName">
                    </label>
                </div>
                <div class="button-bar">
                    <button class="button button-calm" ng-click="closeModal()">{{'SINGLE_Cancel' | translate}}</button>
                    <button class="button button-positive" ng-click="changeLightName(newLightName)">{{'SINGLE_Change' | translate}}</button>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>

    <script id="copyto-modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar>
                <h1 class="title">{{'Home_LightList_Detail_CopyTo' | translate}}</h1>
            </ion-header-bar>
            <ion-content>
                <ul class="list">
                    <li class="item item-checkbox" ng-repeat="light in allLightsExceptCurrent">
                        <hue-image class="hueImageInListRight" template="{{light.image}}" light='light '></hue-image>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="copySelection[light.id]">
                        </label>
                        <h2>{{light.name}}</h2>
                        <p>&nbsp;</p>
                    </li>
                </ul>
                <div class="button-bar">
                    <button class="button button-calm" ng-click="closeCopyToModal()">{{'SINGLE_Cancel' | translate}}</button>
                    <button class="button button-positive" ng-click="copyToSelection()">{{'Home_LightList_Detail_CopyTo' | translate}}</button>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>

    <script id="actions-popover.html" type="text/ng-template">
        <ion-popover-view class="fit">
            <ion-content scroll="false">
                <div class="list">
                    <a class="item" ng-click="openRenameModal()">
              {{'Home_LightList_Detail_Rename' | translate}}
            </a>
                    <a class="item" ng-click="openCopyToModal()">
              {{'Home_LightList_Detail_CopyTo' | translate}}
            </a>
                    <a class="item" ng-click="saveColor()">
              {{'Home_LightList_Detail_SaveColor' | translate}}
            </a>
                </div>
            </ion-content>
        </ion-popover-view>
    </script>
</ion-view>
