<ion-view view-title="{{'Home_LightList_Title' | translate }}">

    <ion-nav-bar class="bar-main bar-calm" ng-controller="NavMenuCtrl">
        <ion-nav-buttons side="left">
            <!-- Toggle left side menu -->
            <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-click="toggleLeftSideMenu()"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="secondary">
            <!--
            <a href="#/main/home_tab/newScene">
                <button class="button button-icon icon ion-plus-circled"></button>
            </a>-->
            <button class="button button-icon icon ion-ios-checkmark" ng-click="openCreateSceneModal()"></button>

        </ion-nav-buttons>

    </ion-nav-bar>
    <ion-content has-header="true" has-tabs="true">
        <ul class="list lightList">

            <li ng-repeat="light in allLights  track by light.id" class="item item-button-right">
                <a href="{{light.state.reachable ? getPathToLight(light.id): ' '}}" class="lightLink">
                    <div class="hueListIcon">
                        <hue-image template="{{light.image}}" light='light '></hue-image>
                        <i class="ion-ios-bolt lightNotReachable" ng-hide="{{light.state.reachable}}"></i>
                    </div>

                    <div class="hueListContent">
                        <h2>{{light.name}}</h2>
                        <p>
                            <i class="ion-android-sunny"></i>
                            {{getBrightnessPercentage(light)}}
                            &ensp;
                            <i class="ion-contrast"></i>
                            {{getSaturationPercentage(light)}}
                        </p>
                    </div>
                </a>
                <p ng-show="isEffectRunning(light.id)">
                    <a class="button button-icon icon ion-power" ng-click="stopEffect(light.id)"></a>
                    {{getEffectRunning(light.id)}}
                </p>
                <div class="hueListContentRight2">
                    <label class="toggle toggle-positive">
                        <input type="checkbox" ng-model="light.state.on" ng-change="toggleLightOnOff(light.id,light)" ng-disabled="!light.state.reachable">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </li>
        </ul>
    </ion-content>


</ion-view>
