<ion-view title="{{'Home_LightList_CreateScene' | translate}}">
    <ion-nav-bar class="bar-main">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i>
        </ion-nav-back-button>

    </ion-nav-bar>


    <ion-content has-header="true">
        <div>
            <img style="max-width: 100%;" id="imageToCrop">
        </div>
        <!--
        <div class="cropArea" style="background: #000;      overflow: hidden;      width:100%;      height:100%;">
            <img-crop image="image.myImage" result-image="image.myCroppedImage" area-type="square" result-image-size="400"></img-crop>


        </div>-->
        <!--
        <div>Cropped Image:</div>
        <div><img ng-src="{{myCroppedImage}}" /></div>-->
        <!--<img ng-src="{{image.myCroppedImage}}" style="height:100px;width:100px" />-->
        <canvas id="canvas" style="display:none;"></canvas>
    </ion-content>

    <ion-footer-bar>
        <div class="button-bar">
            <button class="button button-positive" ng-click="reset()">{{'SINGLE_Reset' | translate}}</button>
            <button class="button button-positive" ng-click="saveImage()">{{'SINGLE_Create' | translate}}</button>
        </div>
    </ion-footer-bar>
</ion-view>