<ion-view title="{{'Home_Scenes_Title' |translate}}">
    <ion-nav-buttons side="secondary">
        <div class="buttons">
            <button class="button button-icon ion-android-search" ng-click="showFilterBar()"></button>
        </div>
    </ion-nav-buttons>

    <ion-content has-header="true" has-tabs="true">
        <img ng-src="{{urlForImage(lastPhoto)}}" />
        <ul class="list">
            <li ng-repeat="scene in allScenes | filter:{name:searchFilter}" class="item item-button-right" ng-click="test()">
                {{scene.name}}
                <div class="buttons">
                    <button class="button" ng-click="deleteScene(scene.id)">
                        {{'SINGLE_Delete' |translate}}
                    </button>
                    <button class="button" ng-click="activateScene(scene.id)">
                        {{'SINGLE_On' |translate}}
                    </button>
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>
