<ion-view title="{{'Home_Scenes_Title' |translate}}">
    <ion-nav-buttons side="secondary">
        <div class="buttons">
            <button class="button button-icon ion-android-search" ng-click="showFilterBar()"></button>
        </div>
    </ion-nav-buttons>
    <div class="tabs-striped tabs-top tabs-icon-top tabs-calm">
        <div class="tabs">

            <div class="tab-item" ng-class="{active: selectedTab==1}" ng-click="selectedTab=1">
                <i class="icon ion-lightbulb"></i> {{'Layout_Home_Tab_Lights' | translate}}
            </div>

            <div class="tab-item" ng-class="{active: selectedTab==2}" ng-click="selectedTab=2">
                <i class="icon ion-grid"></i> {{'Layout_Home_Tab_Groups' | translate}}
            </div>
        </div>
    </div>
    <div class="scroll-content ionic-scroll overflow-scroll  has-header has-footer has-tabs-top">

        <div class="" ng-show="selectedTab==1">
            <div class="row" ng-repeat="row in customScenesRows">
                <div ng-repeat="scene in row" class="col col-50" ng-click="activateScene(scene.id)">
                    <img ng-if="scene.image!==undefined" class="full-image" ng-src="{{getUrlSrc(scene.image)}}">
                    <span class="innerTextScene">{{scene.name}}</span>
                    <span class="sceneLampInfo">Lampen: {{scene.lights.length}}</span>
                </div>
            </div>
        </div>

        <div class="list" ng-show="selectedTab==2">
            <div ng-repeat="scene in allScenes | filter:{name:searchFilter}" class="item item-button-right">
                {{scene.name}}
                <div class="buttons">
                    <button class="button" ng-click="deleteScene(scene.id)">
                        {{'SINGLE_Delete' |translate}}
                    </button>
                    <button class="button" ng-click="activateScene(scene.id)">
                        {{'SINGLE_On' |translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</ion-view>