<ion-modal-view ng-controller="SceneModalCtrl">
    <ion-header-bar class="bar-main bar-calm">
        <h1 class="title">{{titleText}}</h1>
        <div class="buttons">
            <button class="button button-icon ion-trash-b" ng-click="deleteScene(scene.id)" ng-show="isEditMode"></button>
        </div>
    </ion-header-bar>

    <ion-content has-header="true">
        <div class="row">
            <div class="col col-50">
                <img class="full-image" ng-src="{{modalScene.previewImage}}" />
            </div>
            <div class="col col-50">
                <button class="button button-block button-calm" ng-click="scenePictureAlbum()">Album</button>
                <button class="button button-block button-positive" ng-click="scenePictureCamera()">Camera</button>
                <button class="button button-block button-positive  icon-right icon ion-crop" ng-show="showCropButton" ng-click="openSceneModalImageCrop()">Crop</button>
            </div>
        </div>

        <label class="item item-input item-stacked-label">
            <span class="input-label">{{'SINGLE_Name' | translate}}</span>
            <input type="text" ng-model="modalScene.name" name='sceneName' />
        </label>

        <div class="list">
            <div class="item item-checkbox" ng-repeat="light in lights  track by light.id">
                <hue-image class="hueImageInListRight" template="{{light.image}}" light='light '></hue-image>
                <label class="checkbox">
                    <input type="checkbox" ng-model="modalScene.selectedLights[light.id]">
                </label>
                <h2>{{light.name}}</h2>
                <p>&nbsp;</p>
            </div>
        </div>


    </ion-content>

    <ion-footer-bar>
        <div class="button-bar">
            <button class="button button-calm" ng-click="closeModal()">{{'SINGLE_Cancel' | translate}}</button>
            <button class="button button-positive" ng-click="updateWithLightstate()" ng-show="isEditMode">{{'Update_With_Lightstate' | translate}}</button>
            <button class="button button-positive" ng-click="createOrUpdateScene()">{{saveText}}</button>
        </div>
    </ion-footer-bar>

</ion-modal-view>
