<ion-modal-view ng-controller="SceneModalCtrl">
    <ion-header-bar class="bar-main bar-calm">
        <h1 class="title">{{titleText}}</h1>
        <div class="buttons">
            <button class="button button-icon ion-trash-b" ng-click="deleteScene(scene.id)" ng-show="isEditMode"></button>
        </div>
    </ion-header-bar>

    <ion-content has-header="true">

        <div class="row">
            <div class="col col-60 col-offset-20">
                <img class="full-image" ng-src="{{modalScene.previewImage}}" />
            </div>

            <div class="col col-20">
                <p>
                    <button class="button button-positive icon ion-image" ng-click="scenePictureAlbum()"></button>
                </p>
                <p>
                    <button class="button button-positive icon ion-camera" ng-click="scenePictureCamera()"></button>
                </p>
                <p>
                    <button class="button button-positive icon ion-crop" ng-show="showCropButton" ng-click="openSceneModalImageCrop()"></button>
                </p>
            </div>
        </div>


        <div class="list">
            <div class="item item-input-inset">
                <input type="text" placeholder="{{'SINGLE_Name' | translate}}" ng-model="modalScene.name" name='sceneName' />
            </div>
            <ion-list>
                <ion-radio ng-model="modalScene.category" ng-value="'always'">{{'Scene_Always' | translate}}</ion-radio>
                <ion-radio ng-model="modalScene.category" ng-value="'day'">{{'Scene_Day' | translate}}</ion-radio>
                <ion-radio ng-model="modalScene.category" ng-value="'night'">{{'Scene_Night' | translate}}</ion-radio>
            </ion-list>

            <div class="item item-checkbox lightList" ng-repeat="light in lights  track by light.id">
                <label class="checkbox">
                    <input type="checkbox" ng-model="modalScene.selectedLights[light.id]">
                </label>
                <div class="hueListIcon">
                    <hue-image template="{{light.image}}" light='light '></hue-image>
                    <i class="ion-ios-bolt lightNotReachable" ng-hide="{{light.state.reachable}}"></i>
                </div>

                <div class="hueListContent">
                    <h2>{{light.name}}
                        <span class="smaller-badge badge-balanced" ng-show="light.state.on">{{'SINGLE_On' | translate}}</span>
                        <span class="smaller-badge badge-royal" ng-show="!light.state.on">{{'SINGLE_Off' | translate}}</span>
                            </h2>
                    <p>
                        <i class="ion-android-sunny"></i> {{getBrightnessPercentage(light)}} &ensp;
                        <i class="ion-contrast"></i> {{getSaturationPercentage(light)}}
                    </p>

                </div>
            </div>
        </div>


    </ion-content>

    <ion-footer-bar>
        <div class="button-bar">
            <button class="button button-calm" ng-click="closeModal()">{{'SINGLE_Cancel' | translate}}</button>
            <button class="button button-positive" ng-click="updateWithLightstate()" ng-show="isEditMode">{{'Update_With_Lightstate' | translate}}</button>
            <button class="button button-positive" ng-click="createOrUpdateScene()">{{saveText}}</button>
        </div>
    </ion-footer-bar>

</ion-modal-view>