.colorListContainer {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    .colorSquare {
        border: 1px solid $colorSquareBoder;
        //margin: auto;
       // border-radius: 6px;
        flex-basis: 18vmin;
        flex-grow: 1;
        flex-shrink: 0;
        //height: 18vminx;
       // padding: 0px 0px 18vmin 0px;
        //max-width: 19vmin;
        display: flex;

        .colorSquareContent {
            padding-bottom: 18vmin;
            flex-basis: 18vmin;
        flex-grow: 1;
        flex-shrink: 0;
            position: relative;
            .colorSquareAction {
                padding-bottom: 18vmin;
                width: 18vmin;
                position: absolute;
            }
            .favColor {
                border: none;
                background: transparent;
                padding: 0;
                position: absolute;
                height: 9vmin;
                width: 9vmin;
                font-size: 5vmin;
                line-height: 9vmin;
                i {
                    color: floralwhite;
                    opacity: .5;
                    text-shadow: 0px 0px 1px #000;
                    &.fav {
                        color: gold;
                        text-shadow: 0px 0px 1px #000;
                    }
                }
            }
        }
    }
    .fillerSquare {
        border: none;
    }

    :last-child {
       //max-width: 19vmin;
    }
}
