<ion-view view-title="{{'Effects_List_Title' |translate}}">

    <ion-content>
        <div class="list effectList">
            <div class="row responsive-sm">
                <a class="item col colorLoop" href="#/main/home_tab/colorLoop">
                    <span class="innerText">{{'Effect_ColorLoop' |translate}}</span>
                </a>
                <a class="item col candle" href="#/main/home_tab/standard/Candle">
                    <span class="innerText">{{'Effect_Candle' |translate}}</span>
                </a>
            </div>
            <div class="row responsive-sm">
                <a class="item col aurora" href="#/main/home_tab/standard/Aurora">
                    <span class="innerText">{{'Effect_Aurora' |translate}}</span>
                </a>
                <a class="item col lightning" href="#/main/home_tab/lightning">
                    <span class="innerText">{{'Effect_Lightning' |translate}}</span>
                </a>
            </div>
            <div class="row responsive-sm">
                <a class="item col pulse" href="#/main/home_tab/pulse/Pulse">
                    <span class="innerText">{{'Effect_Pulse' |translate}}</span>
                </a>
                <a class="item col pulse" href="#/main/home_tab/pulse/PulseColorTransition">
                    <span class="innerText">{{'Effect_PulseColorTransition' |translate}}</span>
                </a>
            </div>
            <div class="row responsive-sm">
                <a class="item col pulse" href="#/main/home_tab/pulse/PulseChangingColors">
                    <span class="innerText">{{'Effect_PulseChangingColors' |translate}}</span>
                </a>
                <a class="col" style="height:0px;">
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>
