<ion-view view-title="{{'Effects_Title' |translate}}">

    <ion-content>
        <button class="button button-positive" ng-click="stopAllEffects()">Stop all</button>
        <ul class="list">
            <a class="item " href="#/main/effects/candle">
                 Color loop
            </a>
            <a class="item " href="#/main/effects/candle">
                Candle
            </a>
            <a class="item " href="#/main/effects/standard/Aurora">
                Aurora
            </a>
        </ul>

    </ion-content>
</ion-view>
