<ion-header-bar class="bar bar-subheader">
    <button class="button button-full button-positive" ng-click="stopAllEffects()">{{'Effects_Status_StopAll' |translate}}</button>
</ion-header-bar>


<ion-view view-title="{{'Effects_Status_Title' |translate}}">
    <ion-content class="has-header has-subheader">
        <ul class="list">
            <li class="item" ng-repeat="light in allLights">
                <hue-image class="hueImageInListLeft" template="{{light.image}}" light='light '></hue-image>
                <div class="hueListContent">
                    <h2>{{light.name}}</h2>
                    <p>{{getEffectRunning(light.id)}}</p>
                </div>
                <div class="hueListContentRight2" ng-show="isLightExecutingEffect(light.id)">
                    <label class="toggle toggle-positive">
                        <input type="checkbox" ng-model="selection[light.id]" ng-change="stopEffect(light.id)">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </li>
        </ul>

    </ion-content>
</ion-view>
