<ion-view view-title="{{'Effects_List_Title' |translate}}">

    <ion-content>
        <ul class="list">
            <a class="item " href="#/main/effects_tab/colorLoop">
                 {{'Effect_ColorLoop' |translate}}
            </a>
            <a class="item " href="#/main/effects_tab/standard/Candle">
                {{'Effect_Candle' |translate}}
            </a>
            <a class="item " href="#/main/effects_tab/standard/Aurora">
                {{'Effect_Aurora' |translate}}
            </a>
            <a class="item " href="#/main/effects_tab/standard/Lightning">
                {{'Effect_Lightning' |translate}}
            </a>
            <a class="item " href="#/main/effects_tab/standard/Pulse">
                {{'Effect_Pulse' |translate}}
            </a>
        </ul>

    </ion-content>
</ion-view>
