<ion-view view-title="{{effectName}}" ng-controller="PulseCtrl">
    <ion-nav-bar class="bar-main">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> {{'SINGLE_Back' | translate}}
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>


        <label class="item item-input item-stacked-label">
            <span class="input-label">{{'SINGLE_Speed' | translate}} {{speedOptions.start[0]}}s</span>
            <div ya-no-ui-slider='speedOptions' class="effectSlider"></div>
        </label>

        <label class="item item-input item-stacked-label">
            <span class="input-label">{{'SINGLE_Brightness' | translate}}</span>
            <div ya-no-ui-slider='briOptions' class="effectSlider"></div>
        </label>

        <div class="item" ng-show="showColors">
            <div class="row">
                <div class="col col-50">
                    <ngjs-color-picker selected="selectedColor1" options="optionsColumn1" customColors="colors1"></ngjs-color-picker>
                </div>
                <div class="col col-50">
                    <ngjs-color-picker selected="selectedColor2" options="optionsColumn2"></ngjs-color-picker>
                </div>
            </div>
        </div>

        <ul class="list">
            <li class="item item-checkbox" ng-repeat="light in allLights">
                <hue-image class="hueImageInListRight" template="{{light.image}}" light='light '></hue-image>
                <label class="checkbox">
                    <input type="checkbox" ng-model="copySelection[light.id]">
                </label>
                <h2>{{light.name}}</h2>
                <p>{{::getEffectRunning(light.id)}}</p>
            </li>
        </ul>
        <div class="button-bar">
            <button class="button button-positive" ng-click="copyToSelection()">{{'SINGLE_Start' | translate}}</button>
        </div>
    </ion-content>
</ion-view>
