<ion-view view-title="{{effectName}}" ng-controller="PulseCtrl">
    <ion-nav-bar class="bar-main">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> {{'SINGLE_Back' | translate}}
        </ion-nav-back-button>
        <ion-nav-buttons side="secondary">
            <button class="button button-light" ng-click="copyToSelection()" ng-show="anythingSelected()">
                <i class="icon ion-checkmark"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>


        <label class="item item-input item-stacked-label">
            <span class="input-label">{{'SINGLE_Speed' | translate}} {{speedOptions.start[0]}}s</span>
            <div ya-no-ui-slider='speedOptions' class="nouislider effectSlider"></div>
        </label>

        <label class="item item-input item-stacked-label">
            <span class="input-label">{{'SINGLE_Brightness' | translate}}</span>
            <div ya-no-ui-slider='briOptions' class="effectSlider"></div>
        </label>

        <div class="item" style="height:50px;" ng-hide="showColors">
            <color-scroll selected="selectedColor1"></color-scroll>
        </div>

        <div class="item" ng-show="showColors">
            <div class="row">
                <div class="col col-50">
                    <color-picker selected="selectedColor1"></color-picker>
                </div>
                <div class="col col-50">
                    <color-picker selected="selectedColor2"></color-picker>
                </div>
            </div>
        </div>

        <ul class="list">
            <li class="item item-checkbox" ng-repeat="light in allLights">
                <hue-image class="hueImageInListRight" template="{{light.image}}" light='light '></hue-image>
                <label class="checkbox">
                    <input type="checkbox" ng-model="copySelection[light.id]">
                </label>
                <h2>{{light.name}}</h2>
                <p>{{::getEffectRunning(light.id)}}</p>
            </li>
        </ul>
    </ion-content>
</ion-view>
