<ion-view view-title="{{effectName}}">
    <ion-nav-bar class="bar-main bar-calm">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <div class="scroll-content ionic-scroll overflow-scroll  has-header has-footer has-tabs">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">{{'SINGLE_Speed' | translate}} {{speedOptions.start[0]}}s</span>
                <div ya-no-ui-slider='speedOptions'></div>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">{{'SINGLE_Brightness' | translate}}</span>
                <div ya-no-ui-slider='briOptions'></div>
            </label>

            <div class="item" style="height:50px;">
                <color-scroll selected="selectedColor1"></color-scroll>
            </div>
        </div>
        <light-selection effects-running="true" selected-lights="copySelection" refresh="true" header-class="has-header" tabs-top="202"></light-selection>
    </div>
    <ion-footer-bar>
        <effect-buttons name="Pulse" selection="copySelection" start="copyToSelection"></effect-buttons>
    </ion-footer-bar>
</ion-view>
