<!-- Candle & Aurora -->
<ion-view view-title="{{effectName}}" ng-controller="StandardEffectCtrl">
    <ion-nav-bar class="bar-main bar-calm">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <div class="scroll-content ionic-scroll overflow-scroll  has-header has-footer">
        <light-selection effects-running="true" selected-lights="copySelection" refresh="true" header-class="has-header" tabs-top="2"></light-selection>
    </div>

    <ion-footer-bar>
        <effect-buttons name="{{effectName}}" selection="copySelection" start="copyToSelection"></effect-buttons>
    </ion-footer-bar>
</ion-view>
