<div class="button-bar" ng-style="getTabsTop()">

    <div class="button button-calm" ng-class="{active: selectedTab==1}" ng-click="selectedTab=1">
        {{'Layout_Home_Tab_Lights' | translate}}
    </div>

    <div class="button button-calm" ng-class="{active: selectedTab==2}" ng-click="selectedTab=2">
        {{'Layout_Home_Tab_Groups' | translate}}
    </div>
</div>



<div class="list lightList" ng-show="selectedTab==1">
    <div class="item item-checkbox" ng-repeat="light in lights track by light.id">
        <label class="checkbox">
            <input type="checkbox" ng-model="selectedLights[light.id]">
        </label>
        <div class="hueListIcon">
            <hue-image template="{{light.image}}" light='light '></hue-image>
            <i class="ion-ios-bolt lightNotReachable" ng-hide="{{light.state.reachable}}"></i>
        </div>

        <div class="hueListContent">

            <h2>{{light.name}}</h2>
            <p ng-show="showColorSupported(light)">
                <i class="ion-android-alert"></i> {{getColorSupportedText(light)}}
            </p>
            <p ng-hide="{{effectsRunning === undefined}}">{{getEffectRunning(light.id)}}</p>
        </div>
    </div>
</div>

<div class="list" ng-show="selectedTab==2">
    <ion-radio ng-model="selectedGroup" ng-value="'0'" class="item" ng-click='allSelected()'>
        {{'Home_Groups_AllLights' |translate}}
    </ion-radio>
    <div class="item item-divider">
        Rooms
    </div>
    <ion-radio ng-model="selectedGroup" ng-value="group.id" ng-repeat="group in rooms track by $index" class="item item-button-right" ng-click='groupSelected(group)'>
        {{group.name}}
    </ion-radio>

    <div class="item item-divider">
        Light Groups
    </div>
    <ion-radio ng-model="selectedGroup" ng-value="group.id" ng-repeat="group in lightGroups track by $index" class="item item-button-right" ng-click='groupSelected(group)'>
        {{group.name}}
    </ion-radio>
</div>