<ion-tabs class="tabs-icon-top tabs-default">

    <ion-tab title="Lights" icon="fa fa-lightbulb-o" href="#/main/home_tab/lightList">
        <ion-nav-view name="lightList-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Groups" icon="icon ion-heart" href="#/main/home_tab/groups">
        <ion-nav-view name="groups-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Scenes" icon="icon ion-search" href="#/main/home_tab/scenes">
        <ion-nav-view name="scenes-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>
