<ion-tabs class="tabs-icon-top tabs-default">

    <ion-tab title="{{'Layout_Home_Tab_Lights' | translate}}" icon="icon ion-lightbulb" href="#/main/home_tab/lightList">
        <ion-nav-view name="lightList-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{'Layout_Home_Tab_Groups' | translate}}" icon="icon ion-grid" href="#/main/home_tab/groups">
        <ion-nav-view name="groups-tab"></ion-nav-view>
        <!-- fa fa-sun-o -->
    </ion-tab>

    <ion-tab title="{{'Layout_Home_Tab_Scenes' | translate}}" icon="icon ion-images" href="#/main/home_tab/scenes">
        <ion-nav-view name="scenes-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{'Layout_Home_Tab_Colors' | translate}}" icon="icon ion-paintbucket" href="#/main/home_tab/colors">
        <ion-nav-view name="colors-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{'Layout_Effects_Tab_Effects'|translate}}" icon="icon ion-wand" href="#/main/home_tab/effectList">
        <ion-nav-view name="effectList-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>
