<ion-side-menus ng-controller="NavMenuCtrl">
    <ion-side-menu-content edge-drag-threshold="50">
        <ion-nav-bar class="bar-main bar-calm">
            <ion-nav-buttons side="left">
                <!-- Toggle left side menu -->
                <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-click="toggleLeftSideMenu()"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <!-- Main content, usually <ion-nav-view> -->
        <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left" has-header="true">
        <ion-header-bar class="bar-menu bar-calm">
            <h1 class="title">{{'Layout_Main_LeftMenu_Title'|translate}}</h1>
        </ion-header-bar>
        <ion-content>
            <button ng-show="isLoggedIn()" ng-click="logout()">Logout</button>
            <button ng-show="isLoggedIn()" ng-click="abc()">Info</button>
            <button class="button button-royal icon ion-social-google" ng-hide="isLoggedIn()" ng-click="login('google')">Login</button>
            <ion-list>
                <ion-item menu-close href="#/main/home_tab/lightList">{{'Layout_Main_LeftMenu_Link_Home'|translate}}</ion-item>
                <ion-item menu-close href="#/main/settings">{{'Layout_Main_LeftMenu_Link_Settings'|translate}}</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
