.colorGradient {
    background-image: linear-gradient(90deg, hsl(0, 100%, 50%) 0%, hsl(10, 100%, 50%) 2.78%, hsl(20, 100%, 50%) 5.56%, hsl(30, 100%, 50%) 8.33%, hsl(40, 100%, 50%) 11.11%, hsl(50, 100%, 50%) 13.89%, hsl(60, 100%, 50%) 16.67%, hsl(70, 100%, 50%) 19.44%, hsl(80, 100%, 50%) 22.22%, hsl(90, 100%, 50%) 25.00%, hsl(100, 100%, 50%) 27.78%, hsl(110, 100%, 50%) 30.56%, hsl(120, 100%, 50%) 33.33%, hsl(130, 100%, 50%) 36.11%, hsl(140, 100%, 50%) 38.89%, hsl(150, 100%, 50%) 41.67%, hsl(160, 100%, 50%) 44.44%, hsl(170, 100%, 50%) 47.22%, hsl(180, 100%, 50%) 50.00%, hsl(190, 100%, 50%) 52.78%, hsl(200, 100%, 50%) 55.56%, hsl(210, 100%, 50%) 58.33%, hsl(220, 100%, 50%) 61.11%, hsl(230, 100%, 50%) 63.89%, hsl(240, 100%, 50%) 66.67%, hsl(250, 100%, 50%) 69.44%, hsl(260, 100%, 50%) 72.22%, hsl(270, 100%, 50%) 75.00%, hsl(280, 100%, 50%) 77.78%, hsl(290, 100%, 50%) 80.56%, hsl(300, 100%, 50%) 83.33%, hsl(310, 100%, 50%) 86.11%, hsl(320, 100%, 50%) 88.89%, hsl(330, 100%, 50%) 91.67%, hsl(340, 100%, 50%) 94.44%, hsl(350, 100%, 50%) 97.22%, hsl(360, 100%, 50%) 100.00%);
    background-image: -webkit-linear-gradient(left, hsl(0, 100%, 50%) 0%, hsl(10, 100%, 50%) 2.78%, hsl(20, 100%, 50%) 5.56%, hsl(30, 100%, 50%) 8.33%, hsl(40, 100%, 50%) 11.11%, hsl(50, 100%, 50%) 13.89%, hsl(60, 100%, 50%) 16.67%, hsl(70, 100%, 50%) 19.44%, hsl(80, 100%, 50%) 22.22%, hsl(90, 100%, 50%) 25.00%, hsl(100, 100%, 50%) 27.78%, hsl(110, 100%, 50%) 30.56%, hsl(120, 100%, 50%) 33.33%, hsl(130, 100%, 50%) 36.11%, hsl(140, 100%, 50%) 38.89%, hsl(150, 100%, 50%) 41.67%, hsl(160, 100%, 50%) 44.44%, hsl(170, 100%, 50%) 47.22%, hsl(180, 100%, 50%) 50.00%, hsl(190, 100%, 50%) 52.78%, hsl(200, 100%, 50%) 55.56%, hsl(210, 100%, 50%) 58.33%, hsl(220, 100%, 50%) 61.11%, hsl(230, 100%, 50%) 63.89%, hsl(240, 100%, 50%) 66.67%, hsl(250, 100%, 50%) 69.44%, hsl(260, 100%, 50%) 72.22%, hsl(270, 100%, 50%) 75.00%, hsl(280, 100%, 50%) 77.78%, hsl(290, 100%, 50%) 80.56%, hsl(300, 100%, 50%) 83.33%, hsl(310, 100%, 50%) 86.11%, hsl(320, 100%, 50%) 88.89%, hsl(330, 100%, 50%) 91.67%, hsl(340, 100%, 50%) 94.44%, hsl(350, 100%, 50%) 97.22%, hsl(360, 100%, 50%) 100.00%);
    background-image: -moz-linear-gradient(left, hsl(0, 100%, 50%) 0%, hsl(10, 100%, 50%) 2.78%, hsl(20, 100%, 50%) 5.56%, hsl(30, 100%, 50%) 8.33%, hsl(40, 100%, 50%) 11.11%, hsl(50, 100%, 50%) 13.89%, hsl(60, 100%, 50%) 16.67%, hsl(70, 100%, 50%) 19.44%, hsl(80, 100%, 50%) 22.22%, hsl(90, 100%, 50%) 25.00%, hsl(100, 100%, 50%) 27.78%, hsl(110, 100%, 50%) 30.56%, hsl(120, 100%, 50%) 33.33%, hsl(130, 100%, 50%) 36.11%, hsl(140, 100%, 50%) 38.89%, hsl(150, 100%, 50%) 41.67%, hsl(160, 100%, 50%) 44.44%, hsl(170, 100%, 50%) 47.22%, hsl(180, 100%, 50%) 50.00%, hsl(190, 100%, 50%) 52.78%, hsl(200, 100%, 50%) 55.56%, hsl(210, 100%, 50%) 58.33%, hsl(220, 100%, 50%) 61.11%, hsl(230, 100%, 50%) 63.89%, hsl(240, 100%, 50%) 66.67%, hsl(250, 100%, 50%) 69.44%, hsl(260, 100%, 50%) 72.22%, hsl(270, 100%, 50%) 75.00%, hsl(280, 100%, 50%) 77.78%, hsl(290, 100%, 50%) 80.56%, hsl(300, 100%, 50%) 83.33%, hsl(310, 100%, 50%) 86.11%, hsl(320, 100%, 50%) 88.89%, hsl(330, 100%, 50%) 91.67%, hsl(340, 100%, 50%) 94.44%, hsl(350, 100%, 50%) 97.22%, hsl(360, 100%, 50%) 100.00%);
}

.colorScrollSettingsIcon {
    font-size: 35px;
    left: 2px;
    position: absolute;
    bottom: 10px;
}

ion-popover-view.fit {
    height: auto;
}

ion-popover-view.fit ion-content {
    position: relative;
}

.platform-android ion-popover-view.fit {
    margin-top: 10px;
}

.platform-ios ion-popover-view.fit {
    padding-top: 10px;
    padding-bottom: 10px;
}

.back-button .ion-arrow-left-c {
    font-size: 30px;
}

.colorScrollContainer {
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    font-size: 16px;
}

.copyColorModalColorPreview {
    display: block;
    height: 30px;
    width: 30px;
    box-shadow: 4px 4px 5px #888888;
}




.app-light {}

.hueImageInListRight {
    position: absolute;
    top: 16px;
    right: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
}

.hueImageInListLeft {
    display: block;
    float: left;
    top: 16px;
    left: 16px;
    margin-right: 5px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
}

.bar-subheader .button.button-full {
    margin-top: 0px;
    margin-bottom: 0px;
}

.hueListIcon .lightNotReachable {
    font-size: 27px;
    bottom: 10px;
    left: 11px;
    color: #ABB331;
    position: absolute;
}

.hueListIcon {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.hueListContent {
    float: left;
}

.hueListContentRight {
    float: right;
}

.hueListContentRight2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 16px;
    min-width: 34px;
    min-height: 34px;
    font-size: 18px;
    line-height: 32px
}

.pressBridgeText {
    font-weight: bold;
}
