.effectList .item {
    height: 150px;
    background-size: cover;
}

.item .innerText {
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
}

.item.colorLoop {
    background-image: url(./../img/effects/colorloop.jpg);
}

.item.candle {
    background-image: url(./../img/effects/candle.jpg);
}

.item.aurora {
    background-image: url(./../img/effects/aurora.jpg);
}

.item.lightning {
    background-image: url(./../img/effects/lightning.jpg);
}

.item.pulse {
    background-image: url(./../img/effects/pulse.jpg);
}

.app-light {}

.hueImageInListRight {
    position: absolute;
    top: 16px;
    right: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
}

.hueImageInListLeft {
    display: block;
    float: left;
    top: 16px;
    left: 16px;
    margin-right: 5px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
}

.bar-subheader .button.button-full {
    margin-top: 0px;
    margin-bottom: 0px;
}


/*
body.app-dark,
.app-dark .pane,
.app-dark .view {
    color: #fff;
    background-color: #000;
}

.app-dark .item {
    border-color: #ddd;
    background-color: #000;
    color: #444;
}*/

.lightDetailPopover.popover {
    height: 174px;
}

.hueListIcon .lightNotReachable {
    font-size: 27px;
    bottom: 10px;
    left: 11px;
    color: #ABB331;
    position: absolute;
}

.hueListIcon {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.hueListContent {
    float: left;
}

.hueListContentRight {
    float: right;
}

.hueListContentRight2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 16px;
    min-width: 34px;
    min-height: 34px;
    font-size: 18px;
    line-height: 32px
}

.pressBridgeText {
    font-weight: bold;
}
