.secondary-buttons .fa {
    font-size: 25px;
}

.lightList {
    .hueListIcon {
        margin-right: 20px;
    }
    a.lightLink {
        display: flex;
        text-decoration: none;
        p {
            padding-left: 10px;
        }
        h2 {
            overflow: visible;
            font-weight: bold;
        }
    }
    .hueListContentRight2 {
        height: 100%;
        min-height: 45px;
        min-width: 45px;
        .toggle {
            //
        }
    }
}

// TABS
.tabs {
        height: 60px;
        .tab-item {
            padding-top: 5px;
            max-width: 100%;
        }
}

// *********************************
// ********   Dark Theme    ********
// *********************************

// VARS
@fontColor: #aaa;
@fontColorLighter: #eee;
@bgColor: #333;
@accentColor: #387ef5;
@accentColorAlt: #007799;
// THEME
.app-dark {
    color: @fontColor;
    background-color: @bgColor;
    .item,
    .pane,
    .view,
    .tab-item,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a {
        color: @fontColor;
        background-color: @bgColor;
    }
    .tabs {
        border-color: @bgColor;
        background-color: @accentColorAlt;
        .tab-item {
            color: @fontColor;
            border-color: @bgColor;
            background-color: @bgColor;
            opacity: 1;
        }
        .tab-item-active {
            color: @bgColor;
            border-color: @fontColor;
            background-color: @fontColor;
            margin-top: 0px;
        }
    }
    .bar-main {
        border-color: @accentColorAlt;
        background-color: @accentColorAlt;
        color: @fontColorLighter;
        .button {
            border-color: transparent;
            background-color: @accentColorAlt;
            color: @fontColorLighter;
        }
    }
    // LIGHT ICON STROKE
    .hueListIcon {
        path {
            stroke: @fontColorLighter;
        }
    }

    // TOGGLES
    .toggle {
        .handle {
           background-color: @fontColor;

        }
        .track {
            border-color: @fontColorLighter;
            background-color: @fontColorLighter;
        }
        &.toggle-positive input:checked+.track {
            border-color: @accentColorAlt;
            background-color: @accentColorAlt;
        }
        input:disabled+.track {
            border-color: @fontColor;
            background-color: @bgColor;
        }
    }
}
